@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Monsieur+La+Doulaise&family=Passion+One:wght@400;700;900&family=Playpen+Sans+Thai:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  --cor1: #BF0C00
  --cor2: #7F0800
  --cor3: #FF1000
  --cor4: #400400
  --cor5: #E50E00
*/

:root{
  --cor1: #BF0C00;
  --cor2: #7F0800;
  --cor3: #FF1000;
  --cor4: #400400;
  --cor5: #E50E00;
  --font: "Monsieur La Doulaise", cursive;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
  

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

header h1{
  font-family: var(--font);
  color:var(--cor4);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.212);
  padding-bottom: 20px;
}

header nav{
  padding-top: 20px;
  display: none;
}

#burguer{
   
    align-self: flex-end;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}
#burguer:hover{
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 8px;
}
header ul{
  list-style-type: none;
  background-color: #400400;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
}

header a{
    display:block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;

}
header a:hover{
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    transition: background-color, 0.5s;
}

main{
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  font-size: 1.2em;
}
section h2{
  padding: 10px;
  background-color: var(--cor5);
  color:var(--cor4);
  font-family: var(--font);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
  text-align: center;

}

section h3{
  padding: 10px;
  color: var(--cor5);
  font-family: var(--font);
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.288);

}

section h4{
  padding: 10px;
  color: var(--cor2);
  font-family: var(--font);
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.288);
}

section p {
  padding: 20px;
  text-align: justify;
}

.lista{
  padding: 10px;
}

.lista li::before{
  content: "♫";
  padding: 10px;
} 